<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154453006404-bsb7nade5ed8p6uh5dlu4p1ji30q5n52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154453006404-bsb7nade5ed8p6uh5dlu4p1ji30q5n52</string>
	<key>API_KEY</key>
	<string>AIzaSyD8afvMUB_jdpm5bJOvkr8SE2hWGwdvlRE</string>
	<key>GCM_SENDER_ID</key>
	<string>154453006404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swift2022a</string>
	<key>PROJECT_ID</key>
	<string>test-fd7b1</string>
	<key>STORAGE_BUCKET</key>
	<string>test-fd7b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154453006404:ios:cadc19b4acd4be8b4d8411</string>
	<key>DATABASE_URL</key>
	<string>https://test-fd7b1-default-rtdb.firebaseio.com</string>
</dict>
</plist>